*~
*.elc
elpa/magit-1.0.0/magit-autoloads.el
elpa/**
auto-save-list/*
ac-comphist.dat
url
swank
.mc-lists.el
nrepl-history
cider-history
bookmarks
request
\#*\#
tramp
projectile.cache
projectile-bookmarks.eld